<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.moonsister.tool">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name="com.hickey.tool.activity.pic.PicturePreviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hickey.tool.activity.pic.PictureSelectorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.hickey.tool.activity.video.RecorderVideoActivity"/>
        <activity android:name="com.hickey.tool.activity.video.ImageGridActivity"/>
        <activity
            android:name="com.hickey.tool.activity.pic.ImagePagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hickey.tool.js.WebActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
