<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.moonsister.tcjy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- GCM 配置开始 < -->
    <application
        android:name="com.moonsister.tcjy.ApplicationConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.moonsister.tcjy.main.widget.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.moonsister.tcjy.main.widget.ManorGrilActivity"/>
        <activity
            android:name="com.moonsister.tcjy.main.widget.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <!-- 友盟 showTopBanner -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57e63d92e0f55a159d002acd"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="OPPOSPDQ2014"/>
        <!--API  接口-->
        <meta-data
            android:name="API_CHANNEL"
            android:value="2014"/>
        <!-- 友盟  end -->
        <!-- 高德 showTopBanner -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="977627d8788489b55e786de34b0c46a4"/>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"/>
        <!-- 高德 end -->

        <!-- 会话页面 -->
        <activity android:name="com.moonsister.tcjy.main.widget.RelationActivity"/>

        <!-- 聚合会话列表 -->

        <activity
            android:name="com.moonsister.tcjy.im.widget.SubConversationListActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.moonsister.tcjy.im.widget.AppConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity
            android:name="com.moonsister.tcjy.main.widget.DynamicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.main.widget.DynamicDatailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.login.widget.LoginMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.login.widget.RegActivity"
            android:launchMode="singleInstance"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.RenZhengActivity"/>
        <activity android:name="com.moonsister.tcjy.main.widget.RenZhengThreeActivity"/>
        <activity
            android:name="com.moonsister.tcjy.center.widget.DynamicSendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.widget.image.PhonePicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.widget.image.ShowImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.moonsister.tcjy.engagement.widget.EngegamentPublishActivity"/>
        <activity android:name="com.moonsister.tcjy.engagement.widget.EngagementManagerActivity"/>
        <activity android:name="com.moonsister.tcjy.engagement.widget.EngegamentAppealActivity"/>
        <activity android:name="com.moonsister.tcjy.engagement.widget.EngegamentRecommendActivity"/>
        <activity android:name="com.moonsister.tcjy.engagement.widget.EngagemengOrderActivity"/>
        <activity android:name="com.moonsister.tcjy.engagement.widget.EngagementDetailsActivity"/>
        <activity android:name="com.moonsister.tcjy.engagement.widget.EngagementTypeActivity"/>
        <activity android:name="com.moonsister.tcjy.engagement.widget.EngagementedDetailsActivity"/>
        <activity android:name=".main.widget.IndividualResumeActivity"/>
        <activity
            android:name="com.moonsister.tcjy.main.widget.WelcomeGuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.center.widget.DefaultDynamicSendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.login.widget.SelectPicPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"/>
        <activity
            android:name=".main.widget.RedpacketAcitivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.moonsister.tcjy.my.widget.MyOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.CertificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.moonsister.tcjy.main.widget.ShowShortVideoActivity"/>
        <activity android:name="com.moonsister.tcjy.main.widget.FillOutMessageActivity"/>
        <activity android:name="com.moonsister.tcjy.find.widget.VideoDynamicActivity"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.RZFirstActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.RZSecondActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.RZThidActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.AppointmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.RefundActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.ChangepwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.moonsister.tcjy.main.widget.HomePageActivity"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.FollowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.WithdRawDepositActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.GetMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.center.widget.RedpacketDynaimcActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.center.widget.BuyDynamicRedPackketActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.hickey.tool.activity.pic.ImagePagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.widget.takevideo.TakeVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.main.widget.PersonInfoChangeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.info.SelectPlandWindowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.info.SelectSexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"/>
        <activity
            android:name="com.moonsister.tcjy.main.widget.PayAppointmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.main.widget.PayAppointmentOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.TiXianRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.AddCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.InsertActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.moonsister.tcjy.main.widget.BuyVipActivity"/>
        <activity
            android:name="com.moonsister.tcjy.main.widget.VideoSelectorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.moonsister.tcjy.main.widget.RecommendMemberActivity"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.SwitchCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.moonsister.tcjy.my.widget.BirthdayActivity"/>
        <activity android:name="com.moonsister.tcjy.center.widget.DynamicPublishActivity"/>
        <activity
            android:name="com.moonsister.tcjy.center.widget.VoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"/>
        <activity
            android:name="com.moonsister.tcjy.main.widget.SwitchItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"/>
        <activity android:name="com.moonsister.tcjy.home.widget.SearchFragmentActivity"/>
        <!-- 微信支付  showTopBanner -->
        <activity
            android:name="com.moonsister.tcjy.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <receiver android:name="com.moonsister.tcjy.wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>
        <!-- 微信支付  end -->

        <activity
            android:name="com.moonsister.tcjy.home.widget.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moonsister.tcjy.home.widget.SearchReasonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.moonsister.tcjy.find.widget.NearbyActivity"/>
        <activity
            android:name="com.moonsister.tcjy.my.widget.UserInfoChangeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.moonsister.tcjy.find.widget.RankActivity"/>
        <activity android:name="com.moonsister.tcjy.main.widget.UserinfoActivity"/>
        <activity android:name="com.moonsister.tcjy.login.widget.FindPasswordActivity"/>
        <activity android:name="com.moonsister.tcjy.login.widget.FindPasswordNextActivity"/>
        <!-- 图片裁剪 -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity android:name="com.moonsister.tcjy.widget.image.CropImageMainActivity"/>
        <activity
            android:name="com.moonsister.tcjy.main.widget.DynamicAtionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.moonsister.tcjy.my.widget.RuleActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.MakeMessageActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.PersonalActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.MoneyActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.WithdrawActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.RechargeActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.AddActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.PersonalReviseActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.TeQueActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.TalkActivity"></activity>
        <activity android:name="com.moonsister.tcjy.my.widget.PingbiActivity"></activity>

    </application>

</manifest>