<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.moonsister.baidu">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        <!-- cuid需要write settings -->
        <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
        <!--注册SDK的activity-->
        <activity
            android:name="com.baidu.appx.uikit.BDActivity"
            android:configChanges="orientation|screenSize"></activity>
        <receiver android:name="com.baidu.appx.app_download.CompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="c720ac1f" />


        <!-- for baidu xadsdk internal web-browser -->
        <!-- 非信息广告必须添加 -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 信息流广告必须添加 -->
        <activity
            android:name="com.baidu.mobad.feeds.BaiduActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <meta-data
            android:name="BDAPPID"
            android:value="8412743"/>
        <meta-data
            android:name="BDAPPKEY"
            android:value="7njBzRfmgi2wvKsA7lHZKia05bLdymiU"/>
    </application>

</manifest>
